<body>
  <div class="container">
    <form class="save-document">
      {{#if theView.header }}
        <div id="header">
          {{#each row in theView.header.rows}}
            <div class="row">
              {{#each column in row.columns}}
                <div class="col-xs-6">
                  <div class="form-group">
                    <label for="{{column._id}}">{{column.label}}</label>
                    <input class="form-control" id="{{column._id}}" name="{{column.name}}" type="{{column.type}}" maxlength="{{column.maxLength}}">
                  </div>
                </div>
              {{/each}}
            </div>
          {{/each}}
        </div>
      {{/if}}
      {{#if theView.buttons}}
        <div id="buttons">
          {{#each button in theView.buttons}}
            <input class="btn btn-default" type="submit" value="{{button}}">
          {{/each}}
        </div>
      {{/if}}
    </form>
  </div>
</body>
